@import "tailwindcss";

@theme {
  --color-bg-primary: #0a0a0a;
  --color-bg-card: #141414;
  --color-bg-surface: #1c1c1c;
  --color-accent: #f59e0b;
  --color-accent-dark: #d97706;
  --color-text-muted: #a3a3a3;
  --color-border: #262626;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
}
